:root {
/* ==========================================================================
1. Color (기본 컬러 스케일)
========================================================================== */
    --color-white: #FFFFFF;
    --color-white-opacity: rgba(255, 255, 255, 0.3); /* FFFFFF 30% */
    --color-white-70: rgba(255, 255, 255, 0.7); /* FFFFFF 70% */
    --color-transparent: rgba(255, 255, 255, 0);    /* FFFFFF 0% */
    --color-transparent-2: rgba(0, 0, 0, 0);         /* 000000 0% */
    --color-black: #060606;
    --color-black-opacity: rgba(6, 6, 6, 0.2);       /* 060606 20% */
    --color-black-soft: #080808;
    --color-black-soft-2: #0D0D0D;
    --color-black-soft-opacity: rgba(8, 8, 8, 0.9);   /* 080808 90% */
    --color-black-soft-opacity80: rgba(8, 8, 8, 0.8);   /* 080808 80% */

  /* Gray Scale */
    --color-gray-800: #111111;
    --color-gray-700: #1A1A1A;
    --color-gray-600: #2E2F32;
    --color-gray-600-opacity: rgba(46, 47, 50, 0.5);
    --color-gray-500: #737683;
    --color-gray-400: #999CA6;
    --color-gray-300: #D2D2D2;
    --color-gray-300-2: #C9C9C9;
    --color-gray-200: #D7D8D9;
    --color-gray-100: #EEEEF3;

  /* Point Colors */
    --color-pink-primary: #E12DA3;
    --color-pink-primary-opacity80: rgba(225, 45, 163, 0.8);
    --color-pink-primary-opacity: rgba(225, 45, 163, 0.08); /* E12DA3 8% */
    --color-pink-primary-card: rgba(225, 45, 163, 0.5);
    --color-purple-accent: #892FC1;  
    --color-purple-accent-2: #290C3B;
    --color-purple-bright: #6261D3;
    --color-purple-bright-opacity: rgba(98, 97, 211, 0.8);
    --color-yellow-rating: #F5A623;

    /* gradient Colors */
    --pink-primary-rgb: rgba(225, 45, 163,0.4);
    --purple-accent-rgb: rgba(137, 47, 193,0.2);
    --gray-600-rgb: rgba(75, 75, 75,0.1);

/* ==========================================================================
2. Color / Color / background (섹션 및 배경 매핑)
========================================================================== */
    --color-section-black: var(--color-black);
    --color-section-black-soft-1: var(--color-black-soft);
    --color-section-black-soft-2: var(--color-black-soft-2);
    --color-section-gray: var(--color-gray-800);
    --color-section-gray-2: var(--color-gray-700);

/* ==========================================================================
3. Color / Gradient (단일 컬러 참조 변수)
========================================================================== */
    --color-purple-start: var(--color-pink-primary);
    --color-purple-end: var(--color-purple-bright-opacity);
    --color-black-end: var(--color-transparent-2);
    --color-gray-end-2: var(--color-gray-600);

/* ==========================================================================
4. Linear Gradient (그라디언트 상세 설정 반영)
========================================================================== */
  /* 3중 그라디언트 (Selection: Linear 50%) */
    --gradient-triple-stop: linear-gradient(
        148deg,
        var(--pink-primary-rgb) 3%,
        var(--purple-accent-rgb) 43%,
        var(--gray-600-rgb) 100%
    );
    
    /* linear-gradient(
        135deg,
        color-mix(in srgb, var(--color-pink-primary) 50%, transparent) 0%,
        color-mix(in srgb, var(--color-pink-primary) 50%, transparent) 35%, /* 35% 지점까지 밝은 핑크 영역을 확장 
        color-mix(in srgb, var(--color-purple-accent) 50%, transparent) 65%, 중간 보라색을 뒤로 밀어 상단을 더 밝게 유지
        color-mix(in srgb, var(--color-gray-600) 50%, transparent) 100%
        ); */

  /* 핑크 to 그레이 (Selection: Linear 20%) */
    --gradient-pink-to-gray: linear-gradient(
    180deg,
    var(--color-pink-primary) 0%,
    var(--color-gray-600) 100%);

  /* 페이드아웃 투명 그라디언트 (Selection: Linear 80%) */
    --gradient-fade-out: linear-gradient(
    152deg,
    var(--color-pink-primary-card) 0%,
    var(--color-black-soft-opacity) 100%);

  /* 핑크 to 퍼플 메인 그라디언트 (Selection: Linear 80%) */
    --gradient-pink-to-purple: linear-gradient(
    158deg,
    var(--color-pink-primary-opacity80) 0%,
    var(--color-purple-end) 100%);

    /* Gray → Light Gray */
    --gradient-gray-to-light: linear-gradient(
    180deg,
    var(--color-gray-200) 0%,
    var(--color-gray-100) 47%,
    var(--color-gray-100) 100%);
    
    --gradient-dark: linear-gradient(
    90deg,
    var(--color-gray-600-opacity) 0%,
    var(--color-black-opacity) 100%
    );
    
/* ==========================================================================
5. Number / radius (반경/라운드 값)========================================================================== */
    --radius-0: 0px;
    --radius-2: 2px;
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-20: 20px;
    --radius-full: 9999px;

/* ==========================================================================
5. Number / radius (반경/라운드 값)
========================================================================== */
    --spacing-0: 0px;
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-26: 26px;
}

html {
    font-size: 100%;
}

body {
    color: var(--color-black);
}
main{
    background-color: var(--color-black);
}
#wrap {
    min-width: 360px;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
}

/* ==========================================================================
header
========================================================================== */
header {
    position: relative;
    left: 0;
    width: 100%;
    padding-inline:clamp(16px,2vw,20px);
    background-color: var(--color-section-black);
    z-index: 999;
    }

.h-in {  
    max-height: 80px;
}
h1 {  
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
}
h1 img{
    max-width: 79%;
    padding-left: 10px;
}
.h-in,
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    height: 100%;
}
nav {
    display: flex;
    flex: 1;
    align-items: center;
    /* width: 100%; */
    justify-content: flex-end;
}
.nav-menu-list {
    display: flex;
}
.nav-menu-list > li > a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px clamp(16px, 2vw, 30px);
    font-size: clamp(14px, 1vw, 16px);
    font-weight: 700;
    color: var(--color-white);
}
.nav-menu-list > li > a:hover {
    color: var(--color-pink-primary);
}

.nav-btn {
    display: flex;
    margin-left: 32px;
}
.nav-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(12px, 1vw, 14px) clamp(16px, 4vw, 20px);
    font-size: clamp(14px, 1vw, 16px);
    font-weight: 700;
    letter-spacing: -0.002em;
    border-radius: var(--radius-8);
}
.btn-secondary {
    background-color: var(--color-black);
    color: var(--color-gray-300);
}
.btn-cta {
    background: var(--gradient-triple-stop);
    color: var(--color-white);
}

.mo-navi {
    display: none;
}

@media (max-width: 1024px) {
    .nav-btn {
    margin-left: 22px;
    }
}
@media (max-width: 820px) {
    nav,
    .nav-btn,
    .mo-navi ul{
        display: none;
    }
    .h-in {  
        padding:6px 0;
    }
    .mo-navi-box{
        display: none;
    }
    .mo-navi {
        display: block;
        font-weight: 700;
    }
    .mo-navi-box.is-open {
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100dvh;
        padding:84px clamp(40px,5vw,50px);
        flex-direction: column;
        background-color: var(--color-black);
        color: var(--color-white);
        z-index: 20;
    }
    .mo-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
        font-size: clamp(14px, 2vw, 16px);
        font-weight: 700;
        color: var(--color-white);
        cursor: pointer;
    }
    .mo-title::after{
        content: '';
        display: inline-block;
        width: 16px;
        height: 9px;
        background:url(../img/menu_arrow.svg) no-repeat center/contain;
        filter: brightness(0) invert(1);
        transform: rotateX(180deg);
        transition: .3s;
    }
    .mo-navi-box.is-open .mo-title::after{
        transform: rotateX(0);
    }
    .mo-menu{
        display: none;
        flex-direction: column;
        font-size: clamp(14px,2.2vw,18px);
        padding: 20px 2px;
    }
    .mo-menu.is-open{
        flex: 1;
        display: flex;
    }
    .mo-menu > li > a{
        display: block;
        padding: 12px 0;
    }
    .mo-menu > li > a:hover {
    color: var(--color-pink-primary);
}
    .mo-btn {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-12);
    }
    .mo-btn a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 20px;
        border-radius: var(--radius-8);
    }
    .btn-secondary {
        background-color: var(--color-black-soft-2);
    }

    .menu-btn {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: var(--spacing-4);
        width: 56px;
        height: 56px;

        cursor: pointer;
        z-index: 21;
    }

    .menu-btn span{
        display: block;
        width: 22px;
        height: 2px;
        background-color: var(--color-white);
        border-radius: 999px;

        transform-origin: center;
        transition: transform 0.35s;
    }

    .menu-btn.is-open span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    .menu-btn.is-open span:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
    }
    .menu-btn.is-open span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}

/* ==========================================================================
main- menu-wrap
========================================================================== */
.menu-wrap {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: space-between;
    width:calc(100% - clamp(20px,4vw,40px));
    padding-inline:clamp(10px,2vw,20px);
    max-width: 840px;
    border-radius: 2rem;
    background-color: var(--color-white-opacity);
    z-index: 99;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}
.menu-wrap.show{
    display: flex;
}
.menu-wrap a {
    display: block;
    padding: 12px clamp(10px,2vw,20px);
    color: var(--color-white);
    font-weight: 700;
    font-size: clamp(12px, 1.8vw, 16px);
}
.menu-wrap li.active a {
    color: var(--color-pink-primary);
    font-weight: 900;
}
/* @media (max-width: 360px) {
    .menu-wrap a {
    font-size: 10px;
    } */

/* 
==========================================================================
main-hero-sec
========================================================================== */

.hero-sec{
    width: 100%;
    height: calc(100dvh - 84px);
    background: var(--color-black) url(../img/hero-sec-img.png) no-repeat center/cover;
    text-align: center;

    /* clip-path: inset(0 50%);
    transition: clip-path 1.2s ease-in-out; */
    opacity:0;
    transform:translateY(30px) scale(.96);
    filter:blur(4px);
    transition:
        opacity .9s ease,
        transform .9s ease,
        filter .9s ease;
}
.hero-sec.open{
    /* clip-path: inset(0 0); */
    opacity:1;
    transform:translateY(0) scale(1);
    filter:blur(0);
}
.hero-pd { 
    height: 100%;
    /* padding-bottom: 64px; */
    padding-bottom:clamp(32px,5vw,64px);
    display: flex;
    flex-direction: column;
}
.hero-copy {
    display: flex;
    justify-content: center;
    font-size: clamp(26px, 4vw, 48px);
    font-weight: 600;
    line-height: 1;
    color: var(--color-gray-300);
    margin-top:clamp(250px, 52vh, 560px);
}
.hero-copy span {
    display: inline;
}
.stats-content {
    display: flex;
    gap: clamp(24px,3vw,40px);
    margin-top: auto;
    margin-right: 0;
    align-self: flex-end;

    opacity: 0;
    transform: translateY(8px);
    transition: opacity .35s ease, transform .35s ease;
}
.stats-content.show {
    opacity: 1;
    transform: translateY(0);
}
.hero-stats {
    display: flex;
    flex-direction: column;
    gap:clamp(4px,1vw,6px);

    max-height: 70px;
}
.stat-number {
    display: flex;
    align-items: center;
    letter-spacing: var(--spacing-2);
    gap: var(--spacing-2);
    font-size: clamp(30px, 3vw, 48px);
    font-weight: 700;
    line-height: 1;
    color: var(--color-gray-300);

    cursor: pointer;
    transition: .3s;
}
.symbol {
    display: inline-block;
    width:clamp(12px,1vw,16px);
    height:clamp(12px,1vw,16px);
    background: url(../img/plus-Vector-gray.svg) no-repeat center;


    transition: .3s;
}
.stat-number:hover .symbol{
    background: url(../img/plus-Vector.svg) no-repeat center;
}
.stat-number:hover {
    color: transparent;
    background: var(--gradient-pink-to-purple);

    -webkit-background-clip: text;
    background-clip: text;
}
.label {
    color: var(--color-gray-500);
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 700;
    line-height: 1;
    text-align: start;
}

@media (max-width: 1600px) {
    .stats-content {
        margin-right: 32px;
    }
}
@media (max-width: 820px) {
    .hero-sec {
        background: var(--color-black) url(../img/hero-sec-mo-img.png) no-repeat center/cover;
    }
    .hero-copy {
        display: block;
        line-height: 1.2;
        margin-top:clamp(250px, 42vh, 560px);
    }
    .hero-copy span {
        display: block;
    }
}

/* ==========================================================================
main-class-sec
========================================================================== */
.class-sec{
    width: 100%;
    background: var(--color-black) url(../img/class-sec-img.png) no-repeat center/cover;
    /* justify-content: space-between;
    align-items: center; */
}
.pd {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-block:140px;
    padding-inline:clamp(20px,3vw,42px);
    gap: 58px;
}
.sec-header {
    display: flex;
    flex-direction: column;
    gap: clamp(14px,2vw,20px);;
}
.sec-label {
    display: flex;
    align-items: center;
    gap: var(--spacing-6);
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: var(--color-pink-primary);
}
.sec-label::before{
    content: "";
    width: 28px;
    height: 2px;
    background: var(--color-pink-primary);
}
.sec-tit {
    flex-wrap: wrap;
    font-size: clamp(48px, 4vw, 56px);
    line-height: 1;
    color: var(--color-white);
    gap: var(--spacing-12);
}
.class-sec .sec-tit span:last-child {
    color: var(--color-pink-primary);
}
.sec-des {
    /* padding-left: 10px; */
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-gray-400);
    letter-spacing: -2;
}
.feature-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--spacing-24);
    max-width: 1490px;
}
.feature-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding: clamp(18px,2vw,30px) clamp(24px,2vw,26px);
    background: var(--color-black);
    border-radius: var(--radius-10);
}
.f-tit {
    font-size: clamp(20px,2vw,28px);
    font-weight: 600;
    color: var(--color-white);
}
.f-des {
    font-size: clamp(14px,1.1vw,18px);
    font-weight: 600;
    color: var(--color-white);
}

@media (max-width:820px) {
    
    .pd {
        padding-block: 80px;
        gap: 28px
    }
    .sec-tit {
        display: block;
        line-height: 1.2;
    }
    .sec-tit span{
        display:block;
    }
    .feature-list {
    grid-template-columns: 1fr;
    gap: var(--spacing-16);
    }
}
/* ==========================================================================
main-lineup-sec
========================================================================== */
.lineup-sec{
    width: 100%;
    background: var(--color-black) url(../img/class-lineup-sec.png) no-repeat center/cover;
    justify-content: space-between;
    align-items: center;
    word-break: keep-all;
}

.lineup-panel{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:60px;
    padding: 40px;
    color: var(--color-white);

    background: var(--color-black-opacity);
    border-radius:20px;
}

.lineup-panel::before{
    content:"";
    position:absolute;
    inset:0;

    border-radius:inherit;
    padding:1px;

    background:var(--gradient-gray-to-light);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite:xor;
        mask-composite:exclude;

        pointer-events:none;
}
.lineup-txt{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.lineup-tit {
    font-size: clamp(28px,1.6vw,32px);
    font-weight: 700;
}
.lineup-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.lineup-des{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: clamp(16px,1.6vw,20px);
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
}
.lineup-des li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.lineup-des li::before {
    content: '';
    flex-shrink: 0;
    width: 18px;
    height: 24px;
    background:url(../img/lucide_check.svg) no-repeat center/contain;
}
.lineup-meta{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid var(--color-white-opacity);
    font-size: clamp(16px,1.6vw,20px);
    font-weight: 500;
    letter-spacing: -1.2px;
}
.meta-item {
    display: flex;
    gap: 40px;
}
.meta-item .badge {
    padding: 8px 14px;
    background: var(--color-pink-primary);
    border-radius: var(--radius-full);
    white-space: nowrap;
}
.bd {
    font-weight: 800;
    white-space: nowrap;
}

.lineup-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 714px;
    padding-left: 60px;
    border-left: 1px solid var(--color-white-opacity);
}
.class-card {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--color-pink-primary-opacity);
    box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.25);
    transition:
        background-color .35s ease,
        transform .35s ease;
}
.class-card:hover {
    background: var(--color-white-opacity);
    transform:translateY(-4px);
}
.card-tit{
    display: flex;
    align-items: center;
}
.running-svg {
    display: block;
    width: 30px;
    height: 36px;
    background:url(../img/solid_running.svg) no-repeat center/contain;
}
.class-card-tit {
    font-size: clamp(20px,1.6vw,24px);
}
.class-card-des,
.class-card-day {
    padding-left: 30px;
    font-size: clamp(16px,1.6vw,20px);
}

@media(max-width:1024px) {
    .lineup-info{
        flex-direction: row;
    }
    .lineup-des{
        padding-right: 20px;
        white-space: wrap;
    }
    .lineup-meta{
        border-top: none;
        margin-top: 0;
        border-left: 1px solid var(--color-white-opacity);
        padding: 0;
        padding-left: 24px;
        justify-content: flex-end;
    }
    .meta-item .badge{
        padding: 4px 10px;
    }

    .lineup-panel{
        flex-direction: column;
        white-space: wrap;
    }
    .lineup-list {
        padding-left: 0;
        border-left: none;
    }
}   
@media(max-width:820px){
    .lineup-des li{
        align-items: flex-start;
    }
    .lineup-sec .sec-tit span{
        display: flex;
        max-width: 340px;
    }
}
@media(max-width:500px){
    .lineup-sec{
    background: var(--color-black) url(../img/class-lineup-sec-mo.png) no-repeat center/cover;
    }
    .lineup-panel{  
        padding: 20px;
        gap: 32px;
    }
    .lineup-info{
        flex-direction: column;
    }
    .lineup-des{
        padding-right: 34px;
    }
    .lineup-meta{
        border-top: 1px solid var(--color-white-opacity);
        border-left: none;
        padding-top: 30px;
        padding-left: 0px;
        max-width: 394px;
    }
}
@media(max-width:430px) {
    .class-card {
        flex-direction: column;
    }
}
/* ==========================================================================
main-coach-sec
========================================================================== */
.coach-sec{
    background: var(--color-black);
}
.coach-sec .pd {
    gap: 18px;
}
.coach-card {
    display: flex; 
    background: url(../img/coach-card.png) no-repeat center /cover;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1600 / 869;
}
.coach-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    align-items: flex-start;
    
    width: 100%;
    height: 100%;
    padding: 0 0 clamp(20px, 3vw, 52px) clamp(20px, 4vw, 60px);
}

.coach-header {
    color: var(--color-gray-300);
    margin-bottom: clamp(20px, 2vw, 40px);
}
.coach-role {
    font-size: clamp(24px, 3vw, 52px);
    font-weight: 400;
    line-height: 1;
}
.coach-name {
    margin-top: clamp(4px, 0.5vw, 8px);
    font-size: clamp(32px, 4vw, 64px);
    font-weight: 700;
    line-height: 1;
}
.coach-achievements {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1vw, 16px);
    color: var(--color-gray-300-2);
    font-size: clamp(14px, 1.5vw, 24px);
    line-height: 1;
    font-weight: 500;
    max-width: 600px;
    
}
.coach-achievements li {
    padding: clamp(8px, 1vw, 12px) clamp(16px, 2vw, 40px);
    background: var(--gradient-dark);
    border-radius: var(--radius-full);
}

@media(max-width:500px) {
    .coach-sec{
    background: var(--color-black) url(../img/coach-mo-back.png) no-repeat center / cover;
    }
    .coach-card {
    background: none;
    }
    .coach-header {
        display: none;
    }
    .coach-mo-img {
        display: flex;
        width: 100%;
        aspect-ratio: 394 / 596;   /* 모바일 이미지 비율 예시 */
        background: url(../img/coach-card-mo.png) no-repeat center /cover;
        border-radius: var(--radius-4);
        margin-bottom: 24px;
    }
    .coach-content{
        padding: 0;
    }

    .coach-achievements {
        gap: 8px;
        font-size: 16px;
    }
    .coach-achievements li {
        padding: 8px 28px; 
    }
}
/* ==========================================================================
main-benefits-sec
========================================================================== */
.benefits-sec{
    width: 100%;
    background: var(--color-black) url(../img/benefits-sec.png) no-repeat center/cover;
}
.benefitSwiper {
    width: 100%;
    overflow: hidden;
    padding: 40px 0 60px;
}
.benefitSwiper .benefit-list {
    padding: 0;
    margin: 0;
}

.benefitSwiper .benefit-card {
    max-width: 300px;
    height: auto;
}
.benefit-list{
    display: flex;
    gap: 20px;
    color: var(--color-white-70);
}
.benefit-card{
    display: flex;
    flex-direction: column;
    gap: clamp(18px, calc(0.526vw + 16.42px), 24px)/* 28px */;
    background: url(../img/benefit-card-ui.png) no-repeat center /cover;
    width: 100%;
    border-top: 1px solid var(--color-gray-600);
    border-right: 1px solid var(--color-gray-600);
    border-radius: var(--radius-12);
    padding: clamp(46px, calc(1.053vw + 42.84px), 58px)
             clamp(30px, calc(0.702vw + 27.89px), 38px)/* 66px 42px */;
}

.benefit-card.is-active {
    background: url(../img/benefit-card-ui-hover.png) no-repeat center /cover;
    color: var(--color-white);
}
.benefit-header{
    display: flex;
    flex-direction: column;
    /* padding-left: 10px; */

}
.benefit-num {
    font-size: clamp(30px, calc(0.526vw + 28.42px), 36px)/* 40px */;
    font-weight: 700;
}
.benefit-tit {
    font-size: clamp(15px, calc(0.263vw + 14.21px), 18px)/* 20px */;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.benefit-sub {
    display: flex;
    justify-content: center;
    aspect-ratio: 316 / 102;
    background: url(../img/glass.png) no-repeat center /contain;
    width: 100%;
    align-items: center;

    /* border-style: solid;
    border-width: 4px 24px; 
    border-image: url(../img/glass.png) 40 48 fill / 20px 24px / 0 stretch; */
    /* background: none; */

    font-size: clamp(18px, calc(0.175vw + 17.47px), 20px);
    font-weight: 500;
    padding: clamp(16px, calc(0.351vw + 14.95px), 20px) 0; 
    letter-spacing: 0.08rem;
}
.benefit-des {
    font-size: clamp(14px, calc(0.175vw + 13.47px), 16px);
    font-weight: 300;
    line-height: 1.5;
}
@media (max-width: 500px) {
    .benefits-sec{
    width: 100%;
    background: var(--color-black) url(../img/benefits-sec-mo.png) no-repeat center/cover;
}
}
@media (max-width: 480px) {
    .benefitSwiper .benefit-card {
        width: 82%;
        max-width: 280px;
    }
}
/* ==========================================================================
main-special program-sec
========================================================================== */
.special-sec {
    background: var(--color-black-soft-2);
}
.special-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black-soft-opacity80);
    border: 1px solid var(--color-gray-600);
    padding: clamp(20px, 2vw, 28px)
        clamp(24px, 3vw, 40px);
    border-radius: var(--radius-12);

    transition:
        background-color .35s ease,
        border-color .35s ease,
        transform .35s ease,
        box-shadow .35s ease;
}
.card:hover {
    background: var(--color-pink-primary-opacity);
    background-color:var(--color-pink-primary-opacity);
    border-color:var(--color-pink-primary);
    transform:translateY(-4px);
    box-shadow:0 12px 32px rgba(225,45,163,.02)
}
.card-gap{
    display: flex;
    gap: 40px;
}
.special-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-pink-primary-opacity);
    color: var(--color-pink-primary);
    width: clamp(100px, calc(1.754vw + 94.74px), 120px);
    height: clamp(36px, calc(0.351vw + 34.95px), 40px);
    padding: 10px 30px;
    border: 1px solid var(--color-pink-primary);
    border-radius: var(--radius-8);

    font-size: clamp(14px, calc(0.351vw + 12.95px), 18px);
    font-weight: 600;
    line-height: 1;
}
.special-content {
    display: flex;
    flex-direction: column;
}
.special-title {
    color: var(--color-white);
    font-size: clamp(18px, calc(0.526vw + 16.42px), 24px);
    font-weight: 600;
}
.special-desc{
    color: var(--color-gray-400);
    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px);
    font-weight: 500;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.special-arrow {
    display: inline-block;
    width: 26px;
    height: 31px;
    background: url(../img/weui_arrow.svg) no-repeat center/contain;
}
@media (max-width: 820px) {
    .special-arrow {
        display: none;
    }
}
@media (max-width: 500px) {
    .card-gap {
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 360px){
    .card-gap {
        flex-direction: column;
        gap: 10px;
    }
    .special-title {
        font-size: 16px;
    }
    .special-desc {
        font-size: 14px;
    }
}
/* ==========================================================================
main-special welcome kit-sec
========================================================================== */
.welcomekit-sec{
    background: url(../img/welcome\ kit-sec.png);
}
.welcomekit-layout {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: clamp(40px, 6vw, 100px);
}

.welcomekit-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}
.kit-list {
    display: flex;
    flex-direction: column;
    gap: clamp(12px, calc(0.702vw + 9.89px), 20px);
    font-size: font-size: clamp(20px, calc(0.351vw + 18.95px), 24px);
    font-weight: 600;
    color: var(--color-gray-400);
}
.kit-list li {
    display: flex;
    align-items: center;
}
.kit-list li::before {
    content: '';
    display: inline-block;
    width: clamp(20px, calc(0.877vw + 17.37px), 30px);
    height: clamp(20px, calc(0.877vw + 17.37px), 30px);
    flex-shrink: 0;
    margin-right: 16px;
    background: url(../img/check-box.svg) no-repeat center / contain;
}
.kit-visual {
    position: relative;
    flex: 1.3;
    width: 100%;
    aspect-ratio: 876 / 666;
    background: url(../img/kit-img.png) no-repeat center / cover;
    border-radius: var(--radius-20);
    overflow: hidden;
}
.kit-btn{
    color: var(--color-white);
    padding: 20px 66px;
    background: var(--gradient-pink-to-purple);
    font-size: 20px;
    font-weight: 600;
    max-width: 280px;
    text-align: center;
    border-radius: var(--radius-8);
}
.kit-caption {
    position: absolute;
    left: clamp(10px, calc(2.632vw + 2.11px), 40px);
    right: clamp(10px, calc(2.632vw + 2.11px), 40px);
    bottom: clamp(8px, calc(2.632vw + 0.11px), 38px);
    padding: clamp(20px, calc(0.702vw + 17.89px), 28px)
        clamp(24px, calc(1.404vw + 19.79px), 40px);
    background: rgba(0, 0, 0, 0.65);
    border-radius: var(--radius-8);
}
.kit-caption strong {
    font-size: clamp(18px, calc(0.526vw + 16.42px), 24px);
    font-weight: 700;
    color: var(--color-pink-primary);
}
.kit-caption p {
    color: var(--color-white);
    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px);
    font-weight: 600;
}

@media (max-width: 820px){
    .welcomekit-layout{
        flex-direction: column;
    }
    .kit-list{
        display: none;
    }
}
@media (max-width: 500px) {
    .kit-visual {
        aspect-ratio: 390 / 360;
    }
}

/* ==========================================================================
main-gallery-sec
========================================================================== */
.gallery-sec{
    background: var(--color-section-black-soft-2);
}
.gallery-pd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom:clamp(32px,5vw,64px);
}
.gallery-sec .sec-header {
    align-items: center;
    text-align: center;
}

.gallery-sec .sec-label {
    justify-content: center;
}

.gallery-sec .sec-tit {
    text-align: center;
}
.gallery-pd .sec-label::after{
    content: "";
    width: 28px;
    height: 2px;
    background: var(--color-pink-primary);
}
.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-main-swiper{
    width:100%;
    height:92dvh;
}

.gallery-main-swiper .swiper-slide{
    height:100%;
}

.gallery-main-swiper img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: 50% 70%;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    color: var(--color-white-70);
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-thumb-swiper {
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumb-swiper .swiper-slide {
    width: 25%;
    opacity: 0.4;
}

.gallery-thumb-swiper .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-main-swiper .swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    border-radius: 999px;
    background: rgba(255,255,255,.3);
    opacity: 1;
}

.gallery-main-swiper .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.8);
}
.gallery-des {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-400);
    text-align: right;
    padding-right: clamp(20px, 3vw, 48px);
    padding-top: 10px;
    padding-bottom:clamp(32px,5vw,64px);
}
/* ==========================================================================
main-reviews-sec
========================================================================== */
.reviews-sec {
    background: var(--color-section-gray-2);
}
.reviews-sec .inner{
    display:grid;
    grid-template-columns:1fr auto;
    grid-template-areas:
        "header button"
        "reviews reviews";
    row-gap:48px;
}

.review-content {
    grid-area:header;
}

.reviews-container {
    display: flex;
    gap: 20px;
    grid-area:reviews;
}
.review {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    min-width: 280px;
    max-width: 520px;
    padding: 40px 38px;
    box-sizing: border-box;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-600);
    border-radius: var(--radius-20);

}
.review-rating {
    display: flex;
    gap: 2px;
    width: 20px;
    height: 20px;
}
.review-text {
    font-size: clamp(18px, calc(0.351vw + 16.95px), 22px);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);

    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 20px;
    padding-top:20px;
    border-top:1px solid var(--color-gray-600);
}
.review-info {
    display: flex;
    flex-direction: column;
}
.review-name {
    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px);
    font-weight: 600;
    color: var(--color-gray-400);
}
.review-event {
    font-size: clamp(14px, calc(0.351vw + 12.95px), 18px);
    font-weight: 600;
    color: var(--color-gray-400);
}
.review-badge {
    background: var(--color-pink-primary-opacity);
    border: 1px solid var(--color-pink-primary);
    border-radius: var(--radius-full);
    color: var(--color-pink-primary);
    padding: 10px 24px;

    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px);
    font-weight: 600;
    line-height: 1;
}

.review-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 240px;
    height: auto;
    box-sizing: border-box;

    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: var(--color-gray-500);
    padding: 18px 40px;
    border: 1px solid var(--color-gray-500);
    border-radius: var(--radius-8);

    grid-area:button;
    justify-self:end;
    align-self:end;
}
.review-button::after{
    content: '';
    display: inline-block;
    width: 12px;
    height: 24px;
    background:url(../img/weui_arrow.svg) no-repeat center/cover;
}

@media (max-width:1200px){

    .reviews-sec .inner{
        display:flex;
        flex-direction:column;
        gap:32px;
    }

    .review-button{
        width:100%;
        max-width: 200px;
        margin:0;
        font-size: 18px;
        padding: 10px 30px;

    }

}

/* ==========================================================================
main-process-sec
========================================================================== */
.process-sec {
    background: black url(../img/process-sec.png) no-repeat center / cover;
}

.process-sec .sec-header {
    align-items: center;
    text-align: center;
}

.process-sec .sec-label {
    justify-content: center;
}

.process-sec .sec-tit {
    text-align: center;
}
.process-sec .sec-label::after{
    content: "";
    width: 28px;
    height: 2px;
    background: var(--color-pink-primary);
}
.process-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,minmax(240px,1fr));
    max-width: 1600px;
    list-style: none;
    margin-top: 40px;
}
.process-list::before {
    content: '';
    position: absolute;
    top: 32px;
    left: 10%;
    right: 10%;
    height: 1px;
    background: var(--color-gray-500);
}
.process-item {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.process-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 1px solid var(--color-gray-400);
    border-radius: var(--radius-full);
    background: var(--color-black-soft);
    color: var(--color-pink-primary);
    font-size: 20px;
    font-weight: 600;
}
.process-txt {
    margin-top: 22px;
}
.process-txt h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-white);
}
.process-txt p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-gray-400);
}

@media (max-width:1600px){

    .process-scroll{

        overflow-x:auto;
        overflow-y:hidden;

        -webkit-overflow-scrolling:touch;

        /* scrollbar-width:thin; */
        cursor: grab;
        padding-bottom: 26px;
        

    }
    .process-scroll.dragging{
    cursor: grabbing;
    user-select: none;
    }

    .process-list{

        width:max-content;

        min-width:1600px;

        display:grid;

        grid-template-columns:repeat(5,280px);

        gap:40px;

    }
    .process-scroll::-webkit-scrollbar{

    height:6px;
    scrollbar-width: inherit;

    }

    .process-scroll::-webkit-scrollbar-track{

        background:var(--color-gray-600-opacity);

    }

    .process-scroll::-webkit-scrollbar-thumb{

        background:var(--color-gray-600);
        border-radius:999px;

    }

}

@media (max-width:500px){
    .process-sec {
    background: black url(../img/process-sec-mo.png) no-repeat center / cover;
    }
    .process-scroll{

        overflow:visible;

    }

    .process-list{

        min-width:0;

        width:100%;

        display:flex;
        flex-direction:column;

        gap:56px;

    }
    .process-item {
        flex-direction: row;
        gap: 20px;
    }
    .process-list::before {
    content: '';
    position: absolute;
    top: 16px;

    left:32px;
    transform:translateX(-50%);
    height: 93%;
    
    width: 1px;
    background: var(--color-gray-500);
}
    .process-txt {
        text-align: left;
    }

}
@media(max-width: 360px){
    .process-txt h3 {
        font-size: 22px;
    }
    .process-txt p {
        font-size: 18px;
    }
}

/* ==========================================================================
main-faq-sec
========================================================================== */
.faq-sec {
    background: var(--color-section-black-soft-2);
}
.faq-layout{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "aside list";
    gap: clamp(60px, 9vw, 170px);
}

.faq-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 32px;
    max-width: 240px;
    border: 1px solid var(--color-gray-500);
    border-radius: var(--radius-8);
    background: var(--color-black-opacity);

    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px)/* 20px */;
    font-weight: 700;
    line-height: 1;
    color: var(--color-white);
    transition:  background-color .35s ease-in-out;
}
.faq-button:hover {
    background: var(--gradient-pink-to-purple);
}
.faq-aside{
    grid-area: aside;
}
.faq-list {
    grid-area: list;
    border-top: 1px solid var(--color-gray-500);
}
.faq-item {
    border-bottom: 1px solid var(--color-gray-500);
}
.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    padding: clamp(24px, calc(0.702vw + 21.89px), 32px)
        clamp(16px, calc(0.351vw + 14.95px), 20px);
    border: 0;
    background: transparent;
    color: var(--color-gray-500);
    font-size: clamp(18px, calc(0.526vw + 16.42px), 24px)/* 24px */;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    transition: color .2s ease-in;
}
.faq-item.is-open .faq-question {
    color: var(--color-pink-primary);
}

.faq-answer {
    display: none;
    padding: 0 20px 32px;
    color: var(--color-gray-400);
    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px)/* 20px */;
    font-weight: 600;
    line-height: 1.5;
}

.faq-item.is-open .faq-answer {
    display: block;
}

.faq-icon {
    position: relative;
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-gray-500);
    border-radius: 2px;
}

.faq-icon::before,
.faq-icon::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 2px;
    background: var(--color-gray-500);
    transform: translate(-50%, -50%);
}

.faq-icon::after {
    width: 2px;
    height: 14px;
}

.faq-item.is-open .faq-icon {
    border-color: var(--color-pink-primary);
    transform: rotate(45deg);
    transition: 0.3s;
}

.faq-item.is-open .faq-icon::before,
.faq-item.is-open .faq-icon::after {
    background: var(--color-pink-primary);
}

@media (max-width: 820px){

    .faq-layout{
        grid-template-columns: 1fr;
        grid-template-areas:
            "list"
            "aside";
        gap: 32px;
    }

    .faq-aside{
        width: 100%;
    }

    .faq-sec .faq-button{
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        padding: 18px 24px;
    }

}

/* ==========================================================================
main-cta-section
========================================================================== */
.cta-section {
    background: black url(../img/cta-section.png) no-repeat center / cover ;
    width: 100%;
    padding: clamp(80px, 10vw, 160px) clamp(20px, 4vw, 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(48px, 7vw, 120px);
    color: var(--color-white);
}
.cta-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 100%;
    text-align: center;
}
.cta-label,
.cta-desc {
    color: var(--color-gray-300);
    font-size: clamp(16px, calc(0.351vw + 14.95px), 20px)/* 20px */;
    font-weight: 600;
}
.cta-title {
    font-size: clamp(42px, calc(3.333vw + 32px), 80px)/* 80px */;
    font-weight: 900;
    line-height: 1.2;
}


.cta-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
.cta-actions .faq-button {
    flex: 0 0 240px;
    max-width: 240px;
    box-sizing: border-box;
}

@media (max-width:500px){

    .cta-actions .faq-button{
        flex:1;
        width:auto;
        max-width:none;
        padding:16px 20px;
    }

}

/* ==========================================================================
main-footer-sec
========================================================================== */
.footer-sec {
    background: var(--color-section-black-soft-1);
    color: var(--color-gray-400);
}
.footer-inner {
    padding: clamp(42px, 3vw, 80px)/* 80px */ clamp(20px, 3vw, 48px) /* 48px */;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    gap: clamp(50px, calc(3.846vw + 18.46px), 80px);
    padding-bottom: clamp(40px, calc(4.103vw + 6.36px), 48px)/* 72px */;
    border-bottom: 1px solid var(--color-gray-600);
}

.footer-logo {
    display: block;
    margin-bottom: 12px;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 800;
}

.footer-desc {
    font-size: clamp(14px, calc(0.175vw + 13.47px), 16px);
    font-weight: 600;
    line-height: 1.6;
    max-width: 340px;
    display: block;
}

.footer-nav {
    display: flex;
    gap: clamp(60px, 8vw, 140px);
    align-items: flex-start;
}
/* .footer-group {
    flex:1;
} */

.footer-heading {
    margin-bottom: 8px;
    color: var(--color-gray-500);
    font-size: 14px;
    font-weight: 800;
}

.footer-list,
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.footer-list a,
.footer-contact a,
.footer-contact span {
    color: var(--color-gray-400);
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 20px;
}
@media(max-width:1024px){
    .footer-desc{
        max-width: 240px;
    }
}
@media(max-width:820px){
    .footer-main{
        flex-direction: column;
        align-items: flex-start;
        gap:24px;
        padding-bottom: 40px;
    }
    .footer-desc{
        max-width: none;
        width: 100%;
    }
    .footer-nav {
        justify-content: space-between;
        width: 100%;
    }
    
    

}
@media(max-width:500px) {
    .footer-bottom {
        flex-direction: column;
        gap: 0;
    }
    .footer-main{
        flex-direction: column;
        gap: 28px;
        padding-bottom: 16px;
    }
    .footer-desc span:not(:last-child) {
        display: none;
    }
    
    .footer-nav {
        width: 100%;
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
    }
    .footer-group{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .footer-heading {
    margin-bottom: 2px;
    }
    .footer-list,
    .footer-contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }
    .footer-list a,
    .footer-contact a,
    .footer-contact span{
        font-size: 12px;
        display: block;
        word-break: keep-all;
        overflow-wrap: break-word;
    }
}